- content_for :title do 
  Login

#login
  .row
    .large-12.columns

      %h1 Login to your account

      = simple_form_for :session, url: sessions_path do |f|
        = f.input :email
        = f.input :password
        = f.submit "Login", class: "button"
