- content_for :title do 
  Add game

#game_form
  .row
    .large-12.columns

      %h1 Adding a new game
      
      = simple_form_for [:admin, @game] do |f|
        = f.input :name
        = f.input :status, :collection => Game::STATUSES.map {|c| [c.titleize, c] }, :include_blank => false

        = f.submit "Save changes", class: "button"