.event.next-event
  = link_to image_tag("mlg_logo_120.png"), "#", class: "th logo"
  .event-details
    %h3 MLG Summer
    %p.location Dallas
    %p.time-to-go 3 days to go
    %ul.games
      %li Starcraft 2
      %li DOTA 2
      %li League of Legends