.signup-area
  %h2 Sign up for an account

  .signup
    %h2 Gamers, why sign up?
    %ul
      %li See event times in your own timezone.
      %li Follow the games you're interested in.
      %li Setup notifications so you never miss an event.

    %h2 Organizations, why sign up?
    %ul
      %li Add your events so fans can easily plan when to watch.
      %li Use our promotional tools to help promote your event.
      %li Drive more viewers to your event.

    = link_to signup_path, class: "button" do
      %h3 Sign me up!