.row
  .large-7.columns.translucent
    %h1 Welcome to Esports Events
    %p Bringing esports organizers together in a single place to help promote tournaments and inform fans.

    %h2 The Problem
    %p Currently, there are so many things happening that it's easy to miss a tournament. Fans need to keep up-to-date with information from many sources and consequently miss tournaments.

    %h2 Our Vision
    %ul
      %li Organizers can add information about their events.
      %li A place where fans can come to easily see when the next tournament of their favorite game will be.
      %li Information will be shown in the fan's local timezone so it's as easy as possible for them.
      %li We will promote events with automated tweets and notifications to fans.
      %li Help fans discover tournaments that they were not aware of.
      %li Expose an API to allow developers to create awesome tools based on the data we collate.

    %h2 Want to get involved?
    %p
      We don't have much yet, but you can tweet us 
      = link_to "@EsportsEventsGG", "http://twitter.com/EsportsEventsGG", target: '_blank'

  .large-5.columns
    :plain
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/EsportsEventsGG" data-widget-id="349661643346673664">Tweets by @EsportsEventsGG</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

