#home
  .row
    .large-12.columns.home-banner
      %h1 Esports Events
      %p We provide a single place to promote esports events to make it as easy as possible for fans so they never miss a click.

  .row
    .large-12.columns
      
      .row
        .large-6.columns  
          .feed
            %h2 Next Event
            = render 'next_event'

            %h2 Events coming up soon
            - 5.times do
              = render 'event'

        .large-6.columns
          .signup-area
            %h2 Sign up for an account

            .signup
              = link_to "#", class: "button" do
                %h3 I'm a gamer
                %p I watch esports events and want to personalize my feed.
              %h2 Why sign up?
              %p See event times in your own timezone.
              %p Filter your feed by the games you're interested in.
              %p Setup notifications so you never miss an event.

            .signup
              = link_to "#", class: "button" do
                %h3 I'm part of an organization
                %p We plan esports events and would like to promote them.
              %h2 Why sign up?
              %p Add your events so fans can easily plan when to watch.
              %p Use our promotional tools to help promote your event.
              %p Drive more viewers to your event.

      .row
        .large-12.columns
          .developer
            %h2 Are you a developer?
            %p No problem! We have an API which will enable you to get event data out and use it on your own site or application.
            %p Help spread the word about up coming esports events.
            %p More details coming soon :o)