body {
  h1, h2, h3, h4, p, button, li, a {
    font-weight: 100;
  }

  nav.top-bar {
    margin: 0;

    .top-bar-section .dropdown li {
      a {
        padding: 15px 20px;
        background: #293859;

        &:hover {
          background: #192869;        
        }
      }
    }
  }

  .notice {
    @include alert-base;
    @include alert-style($success-color);
    .close { @include alert-close; }
  }

  .alert {
    @include alert-base;
    @include alert-style($alert-color);
    .close { @include alert-close; }
  }

  footer {
    background: black;
    height: 200px;
    margin-top: 30px;
  }

  table {
    width: 100%;
  }
}
